.score {
    width: 200px;
    height: 50px;
    padding: 0 48px;
    line-height: 1;
    border-radius: 16px;
    color: #fff;
    margin:  0px;
    font-size: 40px;
}


.time {
    width: 100%;
    background:blue;
    padding: 0 48px;
    line-height: 1;
    border-radius: 16px;
    color: #fff;
    margin-left: 15px;
    font-family: "Rockwell Extra Bold", "Rockwell Bold";
}



button{
    width:175px;
    font-size: 35px;
    height: 70px;
    color: #fff;
    background-color: blue;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 90px;
}

h1 {
    text-align: center;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 0;
}